body{
    background-image: url(img/frutas.jpg);
    background-position-x: 50%;

}
table {
    margin: 0 auto;
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    width : 230px;
    border: 3px;
    border-radius: 5px;
    border-style: solid;
    font-size: 19px;
}
button{
    background-color: rgba(29, 88, 251, 0.89);
    display: block;
    margin: auto;
    margin-top: 20px;
    color: white;
    border-radius: 8px;
    font-size: 19px;
    padding: 8px;
}
h1{
    text-align: center;
    color: rgb(50, 51, 50);
}
td{
    text-align: center;
    padding: 6px;
    text-shadow: 1px 1px 6px black;
    color: rgb(0, 0, 0);
}
select{
    font-size: 19px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px black;
}
#nprint{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
    background-color: rgba(69, 167, 233, 0.9);
    width: 280px;
    margin: 0 auto;
    margin-top: 20px ;
    padding: 15px;
    border: 3px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    
}
.nprint-total{
    color: rgb(92, 210, 246);
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0, 0, 0), 0 -2px 0 rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0);
}
